/*进度条样式*/
#nprogress .bar {
    background: #1135c7 !important;
}

/*默认内间距，外间距*/
* {
    padding: 0;
    margin: 0;
}

body, html {
    font-family: "Helvetica Neue", Helvetica, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", "微软雅黑", Arial, sans-serif;
}

html {
    background-color: #f2f2f2;
}

/*清除 a 标签下划线*/
a {
    text-underline: none;
    color: #666;
}

a:hover {
    color: #2fa7b9;
}

.main-page {
    margin-top: 25px;
}
